.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--surface-on-muted);
}

.item {
  display: flex;
  align-items: center;
}

.error {
  color: var(--error-color);
}

.success {
  color: var(--complete-color);
}

.icon {
  margin-right: 0.25rem;
  font-size: 14px;
}
