.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border-radius: 1rem;
  background-color: var(--surface);
  box-shadow: var(--surface-shadow);
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  all: unset;
  color: var(--surface-on);
}

.error-message {
  position: absolute;
  left: 0;
}

@media (hover: hover) {
  .button:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

@media (min-width: 426px) {
  .container {
    padding: 2rem;
  }
}
