.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  user-select: none;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--surface-on-muted);
  transition: var(--transition);
}

.container {
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
  color: var(--input-text);
}

.input {
  all: unset;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.625rem calc(16px + 0.725rem * 2) 0.625rem 0.725rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  transition: var(--transition);

  &.error {
    border-color: var(--error-color);
  }

  &:focus {
    border-color: var(--primary-color);
  }
}

.eyeButton {
  all: unset;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  padding: 0 0.725rem;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: var(--transition);
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .input:hover {
    border-color: var(--primary-color);
  }
}
