.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  color: var(--surface-on);
  background: var(--surface);
  padding: 1rem;
  border-radius: 1rem;
}
